<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates is working</title>
</head>
<body>
<h1>Welcome in India</h1>
<h3>{{name}},How are you!</h3>
<form action="/about" method="get">
    <textarea name='text' style="margin: 0px; width: 1517px; height: 152px;"></textarea>
    <input type="checkbox" name="analyze">Analyze
    <input type="checkbox" name="capital">Capital
    <input type="checkbox" name="count_char">Count Character without space
    <input type="checkbox" name="extraspaceremover">Extra Space Remover
    <input type="checkbox" name="newlineremover">Newline Remover<br>
    <button type="submit">Submit</button>
</form>
</body>
</html>
